.idea/
.vscode/
.DS_Store
.agent/
.agents/
.ui-ux-pro-max-skill/
graphify-out/

### Environment Variables ###
**/.env
**/.env.*
!**/.env.example

### Application Properties ###
**/application*.properties
!**/application*.properties.example

### Docker ###
**/docker-compose.yml
**/Dockerfile
!**/*.example

docs_archive/
demo/
geo-data/

# Domain Connect Temp Files
private_key.pem
public_key.pem
keys-server/
template.schema.json
